baseURL = "https://arobertson.xyz"
languageCode = "en-us"
title = "arobertsonxyz"
theme = "blowfish"

enableRobotsTXT = true
enableEmoji = true

[pagination]
  pagerSize = 100

[outputs]
  home = ["HTML", "RSS", "JSON"]

[minify]
  disableCSS = false
  disableHTML = false
  disableJS = false
  disableJSON = false
  disableSVG = false
  disableXML = false

[privacy]
  [privacy.disqus]
    disable = true
  [privacy.googleAnalytics]
    disable = true
  [privacy.instagram]
    disable = false
    simple = true
  [privacy.twitter]
    disable = false
    enableDNT = true
    simple = true
  [privacy.vimeo]
    disable = false
    enableDNT = true
    simple = true
  [privacy.youtube]
    disable = false
    privacyEnhanced = true
