<!-- Quote Banner Assets -->
<style>
:root{
  {{ with .Site.Params.quoteBanner.height }}--quote-banner-height: {{ . }};{{ end }}
}
</style>
{{ $quoteBannerCSS := resources.Get "css/quote-banner.css" }}
{{ if $quoteBannerCSS }}
  {{ $quoteBannerCSS = $quoteBannerCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $quoteBannerCSS.RelPermalink }}" integrity="{{ $quoteBannerCSS.Data.Integrity }}">
{{ end }}

<!-- Re-enable Quote Banner Icon -->
<div id="reopen-quote-banner-wrapper" class="reopen-quote-banner-wrapper" style="display: none;">
  <button id="reopen-quote-banner-button" aria-label="Re-open quote banner" title="Show quotes">
    {{- partial "icon.html" "comment" -}}
  </button>
</div>

{{ $quoteBannerJS := resources.Get "js/quote-banner.js" }}
{{ if $quoteBannerJS }}
  {{ $quoteBannerJS = $quoteBannerJS | js.Build | resources.Minify | resources.Fingerprint }}
  <script src="{{ $quoteBannerJS.RelPermalink }}" integrity="{{ $quoteBannerJS.Data.Integrity }}" defer></script>
{{ end }}