<!-- eslint-disable -->
<!-- @format:off -->

<style>
:root {
  --logo-gradient-angle: {{ default 135 (site.Params.logoGradientAngle | default .Params.logoGradientAngle) }}deg;
  --logo-gradient-speed: {{ default "6s" (site.Params.logoAnimationSpeed | default .Params.logoAnimationSpeed) }};
  {{- with (site.Params.logoGradientStops | default .Params.logoGradientStops) -}}
  --logo-gradient-stops: {{ delimit . "," }};
  {{- end -}}

  {{- with (site.Params.defaultBackgroundImage | default .Params.defaultBackgroundImage) -}}
  --bg-image: url('{{ . | relURL }}');
  {{- else -}}
  --bg-image: none;
  {{- end -}}

  --bg-color-light: {{ default "#CCCCCC" (site.Params.defaultBackgroundColorLight | default .Params.defaultBackgroundColorLight) }};
  --bg-color-dark: {{ default "#222222" (site.Params.defaultBackgroundColorDark | default .Params.defaultBackgroundColorDark) }};

  {{- /* Quote Banner Gradient Variables */ -}}
  {{- with (site.Params.quoteBanner.lightModeGradient | default .Params.quoteBanner.lightModeGradient) -}}
  --quote-banner-light-gradient: linear-gradient(135deg, {{ range $i, $color := . }}{{ if $i }}, {{ end }}{{ $color }}{{ end }});
  {{- end -}}
  {{- with (site.Params.quoteBanner.darkModeGradient | default .Params.quoteBanner.darkModeGradient) -}}
  --quote-banner-dark-gradient: linear-gradient(135deg, {{ range $i, $color := . }}{{ if $i }}, {{ end }}{{ $color }}{{ end }});
  {{- end -}}
  
}
</style>


<!-- Early init: apply saved logo gradient before first paint to prevent flash -->
<script>
  (function () {
    try {
      var savedStops = localStorage.getItem('logoGradientStops');
      if (savedStops) {
        // Apply immediately so initial paint uses the chosen preset
        document.documentElement.style.setProperty('--logo-gradient-stops', savedStops);
      }
    } catch (e) {
      // localStorage might be unavailable; ignore and use defaults
    }
  })();
  // Note: main switcher JS still runs later to wire up interactions
</script>


{{- /* Load custom CSS */ -}}
{{ $customCSS := resources.Get "css/custom.css" }}
{{ if $customCSS }}
  <link rel="stylesheet" href="{{ $customCSS.RelPermalink }}">
{{ end }}

{{- /* Load screensaver CSS */ -}}
{{ $ssCSS := resources.Get "css/screensaver.css" }}
{{ if $ssCSS }}
  <link rel="stylesheet" href="{{ $ssCSS.RelPermalink }}">
{{ end }}

{{- /* Load quote banner CSS early to avoid unstyled flashes */ -}}
{{ $quoteBannerCSS := resources.Get "css/quote-banner.css" }}
{{ if $quoteBannerCSS }}
  {{ $quoteBannerCSS = $quoteBannerCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $quoteBannerCSS.RelPermalink }}" integrity="{{ $quoteBannerCSS.Data.Integrity }}">
{{ end }}

{{/* Inject Logo Gradient Switcher CSS */}}
{{ $switcherCSS := resources.Get "css/logo-gradient-switcher.css" }}
{{ if $switcherCSS }}
  {{ $switcherCSS = $switcherCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $switcherCSS.RelPermalink }}" integrity="{{ $switcherCSS.Data.Integrity }}">
{{ end }}



