{{/* This container is positioned by quote-banner.js */}}
<div id="fixed-header-container" class="fixed inset-x-0 z-100">
  {{/* Gradient background (Removed for now - looks strange when using defaultBackgroundImage or defaultBackgroundColor) */}}
  <!-- <div class="absolute inset-x-0 min-h-[130px] opacity-65 bg-gradient-to-b from-neutral from-60% dark:from-neutral-800 to-transparent mix-blend-normal"></div> -->
  
  {{/* Blur effect */}}
  <div id="menu-blur" class="absolute opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom backdrop-blur-2xl shadow-2xl"></div>

  {{/* Header content */}}
  <div class="relative max-w-[64rem] ml-auto mr-auto px-6">
    {{ partial "header/basic.html" . }}
  </div>
</div>

{{/* JS for blur effect */}}
{{ $backgroundBlur := resources.Get "js/background-blur.js" }}
{{ if $backgroundBlur }}
  {{ $backgroundBlur = $backgroundBlur | resources.Minify | resources.Fingerprint (.Site.Params.fingerprintAlgorithm | default "sha512") }}
  <script
    type="text/javascript"
    src="{{ $backgroundBlur.RelPermalink }}"
    integrity="{{ $backgroundBlur.Data.Integrity }}"
    data-target-id="menu-blur"></script>
{{ end }}
