{{/* 
  Screensaver Loader Partial - Loads all screensaver-related resources
  This allows us to include a single partial to handle all screensaver dependencies
*/}}

{{/* CSS is loaded in extend-head.html to prevent FOUC */}}

{{/* Load Vendor JS if needed */}}
{{ $loader := resources.Get "js/vendor/tsparticles-loader.js" }}
{{ if $loader }}
  {{ $loader = $loader | js.Build | resources.Minify | resources.Fingerprint }}
  <script src="{{ $loader.RelPermalink }}" integrity="{{ $loader.Data.Integrity }}" defer></script>
{{ end }}

{{/* Load Core Screensaver JS */}}
{{ $ssJS := resources.Get "js/screensaver.js" }}
{{ if $ssJS }}
  {{ $ssJS = $ssJS | js.Build | resources.Minify | resources.Fingerprint }}
  <script src="{{ $ssJS.RelPermalink }}" integrity="{{ $ssJS.Data.Integrity }}" defer></script>
{{ end }}

{{/* Load Controls JS */}}
{{ $ssControlsJS := resources.Get "js/screensaver-controls.js" }}
{{ if $ssControlsJS }}
  {{ $ssControlsJS = $ssControlsJS | js.Build | resources.Minify | resources.Fingerprint }}
  <script src="{{ $ssControlsJS.RelPermalink }}" integrity="{{ $ssControlsJS.Data.Integrity }}" defer></script>
{{ end }}
