{{/* Screensaver overlay and JSON config, shown site-wide */}}
{{ $cfg := .Site.Params.screensaver }}
<div id="screensaver" class="screensaver-overlay">
  <canvas id="screensaver-canvas" class="screensaver-canvas"></canvas>
  <div class="screensaver-particles"></div>
  {{/* Arc menu controls */}}
  {{- partial "custom/screensaver-controls.html" . -}}
</div>

{{/* Provide JSON config for JS to read (lowercase keys handled in JS) */}}
<script id="screensaver-config" type="application/json">{{ $cfg | jsonify | safeJS }}</script>


